name: Pulumi
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  preview:
    name: Preview
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pulumi/actions@v6.6.1
        with:
          command: preview
          stack-name: dev # edit this
          cloud-url: s3://nelson-test-bucket-for-github-actions # trying without the region param ?region=us-east-1
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-1
